/* Google Fonts - Quicksand (regular, medium, bold) */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

*,
*:before,
*:after,
html,
body {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  height: 100vh;

  margin: 0;
  padding: 0;
  background: #fafafa;

  font-family: -apple-system, BlinkMacSystemFont, "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
